.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    justify-content: flex-start; 
    gap: 1rem;
    margin: 0 auto; 
}

.sidebar {
    flex: 1 1 20%;
    background: #630606;
    color: #fff;
    padding: 1rem;
    max-height: 500px; 
    overflow-y: auto; 
}

.content {
    flex: 3 1 70%; 
    background: #fff;
    padding: 1rem;
    margin-left: 1rem;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    border-top: 5px solid #010101;
    width: 100%; 
    padding: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .flex-container {
        flex-direction: column; 
    }

    .sidebar {
        display: none; 
    }

    .content {
        margin-left: 0;
        flex: 1 1 100%; 
    }
}

.sidebar a {
    color: #fff; 
    text-decoration: none; 
}

.sidebar a:focus,
.sidebar a:active {
    color: #fff; 
    outline: none; 
}

.sidebar a:hover {
    color: #fff; 
    text-decoration: underline; 
}
