@use './variables-dark' as *; // Justera sökvägen om nödvändigt

// Allmänna inställningar
* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0; // Ställ in till 0 för att undvika scrollbars
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Arial', sans-serif; // Definiera teckensnitt här om det inte redan är i variabler
    color: $text-color; // Använd konsekvent textfärg

    // Dölj horisontell scrollbar
    overflow-x: hidden;
}

// Avstånd för listor
ol, ul {
    padding-left: 1.5em;
}

// Placering
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // Se till att body sträcker sig över hela höjden
}

.main {
    display: flex;
    justify-content: center; // Centrera horisontellt
    align-items: center; // Centrera vertikalt
    flex-direction: column; // Stapla vertikalt
    background-color: $main-background-color; // Konsekvent bakgrundsfärg
    flex-grow: 1; // Låt main ta upp överbliven höjd
}

// Header
.header, .site-header {
    display: flex;
    justify-content: space-between; // Justerar utrymmet mellan element
    align-items: center; // Centrerar vertikalt
    padding: $main-padding; // Använd variabel för padding
    background-color: $header-color; // Kontrastfärg för header
    color: white; // Konsekvent textfärg
    width: 100%; // Se till att headern sträcker sig över hela bredden
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Valfritt: lägg till en skugga för djup
    font-size: 8px; // Ändra fontstorleken till 8px
}

// Navigation
.nav {
    display: flex; // Viktigt för att visa länkarna på rad
    list-style: none; // Ta bort punkter från listor
    margin-left: auto; // Justera till höger
}

.nav li {
    margin: 0 15px; // Lägg till horisontella marginaler mellan länkarna
}

.nav a {
    color: $link-color; // Använd variabel för navlänk färg
    text-decoration: none;
    font-size: 14px; 
}

.nav a:hover {
    color: $link-hover-color; // Hover-färg
}

.nav li.active a {
    color: $active-link-color; // Aktiv länk färg
}

// Titel och logotyp
.title, .logo {
    padding: 3em 3em 3em 0; // Justera padding
    max-width: 100%; // Förhindra att titeln/logo överskrider bredden
    display: flex; // Använd flex för centrerad inriktning
    align-items: center; // Vertical alignment
}

.logo img {
    max-height: 50px; // Begränsa logans höjd
    margin-right: 20px; // Marginal mellan logotyp och navigering
}

// Responsiv design
@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
        justify-content: center; // Centrera innehållet
        max-width: 100%; // Se till att titeln/logotypen inte överskrider bredden
    }
    
    .logo {
        max-width: 20%; // Justera logons bredd
    }
}

.title * {
    color: #f6f2f2; // Konsekvent textfärg
}

.title p {
    font-style: italic;
}

// Footer
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 5px solid $footer-border-color; // Använd variabel för border
    margin-top: 1em; // Standardmargin
    width: 100%; // Se till att footern sträcker sig över hela bredden
}

// Footer-länkar
.footer a {
    color: $link-color; // Använd variabel för länkfärg
    text-decoration: none;
}

.footer a:hover {
    color: $link-hover-color; // Hover-färg
}

.footer .social {
    font-size: $footer-social-icon-size; // Använd variabel för ikonstorlek
    margin-right: 20px;
}

.footer .social i {
    color: $social-icon-color; // Använd variabel för social ikonfärg
    margin-left: $footer-social-icon-margin; // Använd variabel för margin
    vertical-align: middle;
}

// Textformattering
p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
}

// Rubriker
h1, h2, h3, h4, h5, h6 {
    margin-bottom: $main-margin; // Använd variabel för bottom margin
    font-weight: bold; // Enhetlig teckensnittsvikt
    color: $text-color; // Konsekvent textfärg
}

// Bilder
img {
    max-width: 100%; // Resiza i responsiv layout
    height: auto; // Bevara proportioner
    max-height: 400px; // Kontrollera om detta skapar något överflöd, justera vid behov
}
