@use './variables' as *;

// Allmänna inställningar
* {
    box-sizing: border-box;
    border: 0 none;
    margin: $main-margin; // Använd variabel för margin
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Arial', sans-serif; // Definiera teckensnitt här om det inte redan är i variabler
    color: $text-color; // Använd konsekvent textfärg
}

// Avstånd för listor
ol, ul {
    padding-left: 1.5em;
}

// Placering
body {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    justify-content: center; /* Centrera horisontellt */
    align-items: center; /* Centrera vertikalt */
    flex-direction: column; /* Stapla vertikalt */
    background-color: $main-background-color; /* Konsekvent bakgrundsfärg */
}

// Header
.header, .site-header {
    display: flex;
    justify-content: space-between;
    padding: $main-padding; // Använd variabel för padding
    background-color: $header-color; // Kontrastfärg för header
    color: white; // Konsekvent textfärg
}

// Titel och logotyp
.title, .logo {
    padding: 3em 3em 3em 0;
}

// Responsiv design
@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title {
        min-width: 50%;
    }
    .logo {
        max-width: 10%;
    }
}

.title * {
    color: #f6f2f2; // Konsekvent textfärg
}

.title p {
    font-style: italic;
}

// Footer
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 5px solid $footer-border-color; // Använd variabel för border
    margin-top: 1em; // Standardmargin
}

.footer a {
    color: $link-color; // Använd variabel för länkfärg
    text-decoration: none;
}

.footer a:hover {
    color: $link-hover-color; // Hover-färg
}

.footer .social {
    font-size: $footer-social-icon-size; // Använd variabel för ikonstorlek
    margin-right: 20px;
}

.footer .social i {
    color: $social-icon-color; // Använd variabel för social ikonfärg
    margin-left: $footer-social-icon-margin; // Använd variabel för margin
    vertical-align: middle;
}

// Textformattering
p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
}

// Rubriker
h1, h2, h3, h4, h5, h6 {
    margin-bottom: $main-margin; // Använd variabel för bottom margin
    font-weight: bold; // Enhetlig teckensnittsvikt
    color: $text-color; // Konsekvent textfärg
}

// Bilder
img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
}

// Navigation
.nav a {
    color: $link-color; // Använd variabel för navlänk färg
    text-decoration: none;
}

.nav a:hover {
    color: $link-hover-color; // Hover-färg
}

.nav li.active a {
    color: $active-link-color; // Aktiv länk färg
}
