.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    justify-content: flex-start; 
    gap: 1rem;
    margin: 0 auto; 
}

.sidebar {
    flex: 1 1 20%;
    background: #630606; /* Kontrastfärg för sidebar */
    color: #fff; /* Vit färg för text */
    padding: 1rem;
    max-height: 500px; 
    overflow-y: auto; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Lätt skugga för djup */
}

.content {
    flex: 3 1 70%; 
    background: #ffffff; /* Enhetlig bakgrund för innehåll */
    padding: 1rem;
    margin-left: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Lätt skugga för djup */
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    border-top: 5px solid #010101; /* Tydlig gräns */
    width: 100%; 
    padding: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

/* Media queries för responsivitet */
@media (max-width: 768px) {
    .flex-container {
        flex-direction: column; 
    }

    .sidebar {
        display: none;  /* Döljer sidebar på små skärmar */
    }

    .content {
        margin-left: 0;  /* Tar bort vänstermarginal på små skärmar */
        flex: 1 1 100%; 
    }
}

/* Länkstil för sidebar */
.sidebar a {
    color: #fff; /* Vit färg för länktext */
    text-decoration: none; 
}

.sidebar a:focus,
.sidebar a:active {
    color: #fff; 
    outline: none; 
}

.sidebar a:hover {
    color: #ff4500; /* Komplementär färg för hover, ger bättre kontrast */
    text-decoration: underline; 
}
