// Typsnittsinställningar
$font-family-dark: 'Press Start 2P', cursive;
$font-size-base: 16px; // Grundläggande typsnittsstorlek
$font-color-dark: #070706; // Neon-grön text för kontrast

// Bakgrundsfärger
$background-color-dark: #817f7f; // Mörkgrå bakgrund för hela sidan
$main-background-color: #817f7f; // Huvudbakgrundsfärg
$background-color-secondary: #2b2b2b; // Sekundär bakgrundsfärg för sektioner eller kort
$header-color: #444444; // Färg för header (kontrastfärg)

// Knappar och länkar
$button-background-color: #333333; // Basfärg för knappar
$button-hover-color: #444444; // Färg när man hovrar över knappar
$link-color: #ffff00; // Neon-gröna länkar
$link-hover-color: #33ff33; // Ljusare grön för hover-effekt
$active-link-color: #ff4500; // Färg för aktiva länkar

// Kantlinjer och skuggor
$border-color-dark: #555555; // Diskret kantfärg
$box-shadow-dark: 0px 4px 8px rgba(0, 0, 0, 0.8); // Mjuk skugga för djup

// Accentfärger
$accent-color: #ff9500; // Orange för knappar eller viktiga delar
$error-color: #ff0000; // Röd för varningar eller felmeddelanden

// Marginaler och padding
$main-margin: 1em; // Standardmarginal
$main-padding: 1em; // Standardpadding

// Footer-stil
$footer-border-color: #444444; // Färg för kantlinje i footer
$footer-social-icon-size: 20px; // Storlek för sociala ikoner
$footer-social-icon-margin: 10px; // Avstånd mellan ikoner i footer
$social-icon-color: #ffffff; // Färg för sociala ikoner

// Textfärger
$text-color: #ffffff; // Standardtextfärg
