// variables.scss
$main-background-color: #f8f8f8; // Lägg till din huvudbakgrundsfärg här
$header-color: #630404;
$text-color: #333;
$link-color: #fdf8f8;
$link-hover-color: #f3efed;
$active-link-color: #f2f8f2;
$social-icon-color: #0e0d0d;
$main-margin: 0.6em;
$main-padding: 1em;
$footer-border-color: #010101;
$footer-social-icon-size: 2rem;
$footer-social-icon-margin: 10px;
